html, body, div, span, h2, h4, hr, img, header, nav, footer
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  /*background: gray;*/
  background-color: transparent;
}




html
{
  overflow-y: scroll;
}

nav
{
  text-align: right;
  max-width: 1100px;
  margin: 0 auto;          /* centers the content div on the page */
  padding: 20px 50px 50px;  /* makes room for the header, leaves some space at the sides of the page */

  font-family: Helvetica;
  font-size: 16px;
  line-height: 150%;
  font-weight: 200;
}

body
{
  padding-bottom: 200px;  /* leaves some space at the bottom of the page */
  font-family: Helvetica;
  font-size: 18px;
  line-height: 150%;
  font-weight: 200;
}

h1
{
text-align: center;
font-family: Helvetica, STHeiti;
font-style: normal;
font-weight: 20;
font-size: 44px;
line-height: 23px;
letter-spacing: 2px;
margin: 2%;
padding-bottom: 70px;

}

h2
{
  margin-top: 20px;
  font-family: Helvetica;
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  line-height: 23px;
  padding-bottom: 10px;

}

h3
{
  margin-top: 10px;
  margin-left: 10px;
  font-family: Helvetica;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding-top: 10px;

}


/* 
  Color options
    Blue: #2554C7
    Green: #387C44
    Purple: #9932CC
    Dark Red: #7A303F

    Caltech: #FF6C0C
    Tsinghua: #6D2077, #E24585
*/

#hcolor
{
  color:#2554C7;
}

/* all links will be crimson, and displayed without an underline, hover grey */
a:link,
a:visited
{
  color: #387C44;
  text-decoration: none;
}

#Caltech
{
  color: #FF6C0C;
  text-decoration: none;
}

#Tsinghua
{
  color: #6D2077;
  text-decoration: none;
}

a:hover,
a:visited:hover, #Caltech:hover, #Tsinghua:hover
{
  color: #9932CC;
  text-decoration: none;
}



#sep
{
  width: 100%;
  height: 2px;
  background-color: #999999;
  margin-top: 30px;
  margin-bottom: 30px;
}


#content
{
  margin: 0 auto;          /* centers the content div on the page */
  padding: 0px 50px 0px;  /* makes room for the header, leaves some space at the sides of the page */
  max-width: 1100px;
}



/* spacing between entries of a list */
li
{
  margin-top: 10px;
}

#paperinfo
{
  margin-top: -5px;
  font-size: 16px;
  line-height: 125%;
  font-weight: 100;
}



/* makes table header cells left-aligned and non-bold */


@media (min-width: 769px) {
  #portrait {
    float: right;
    width: 38%;
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  #portrait {
    margin-left: auto;
    margin-right: auto;    
    width: 60%;
  }
}

#portrait
{
  /* max-width: 38%; */
  display: block;
  height: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

#contactinfo
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  /*background: gray;*/
  background-color: transparent;
}

#contactinfo th
{
  text-align: left;
  font-weight: normal;

  font-size: 18px;
  font-weight: 200;
  padding: 0 5px 5px 0;
}

#contactinfo tr
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  /*background: gray;*/
  background-color: transparent;
}

#contactinfo td
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  /*background: gray;*/
  background-color: transparent;

  font-family: monospace;
  font-size: 16px;
  font-weight: 200;
  padding: 0 5px 5px 0;
  line-height: 120%;

}


#schedule
{
    margin: auto;
    margin-top: 18px;
    padding: 0;
   	border: 1px solid black;
   	outline: 0;
    vertical-align: baseline;
	/*background: gray;*/
	background-color: transparent;
	border-collapse: collapse;
}

#schedule th{
	border: 1px solid black;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
}

#schedule td{
   	border: 1px solid black;
	padding: 5px 10px 5px 10px;
}
