html, body, div, span, h2, h4, hr, img, header, nav, footer
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  /*background: gray;*/
  background-color: transparent;
}

img
{
  max-width: 25%;
}


html
{
  overflow-y: scroll;
}


body
{
  padding-bottom: 200px;  /* leaves some space at the bottom of the page */
  width: 100%;
  font-family: Palatino;
  font-size: 16px;
  line-height: 150%;
  font-weight: 200;
}

h1
{
text-align:center;
font-family: Palatino, STHeiti;
font-style:normal;
font-weight:200;
font-size: 36px;
line-height: 23px;
letter-spacing: 2px;
margin: 2%;
color:#2554C7;
padding-bottom: 30px;

}

h2
{
  margin-top: 40px;
  font-family: Palatino;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 23px;
  color:#2554C7;
}

h3
{
  margin-top: 10px;
  margin-left: 10px;
  font-family: Palatino;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color:#2554C7;
}



/* all links will be crimson, and displayed without an underline, hover grey */
a:link,
a:visited
{
  color: #387C44;
  text-decoration: none;
}

a:hover,
a:visited:hover
{
  color: #9932CC;
  text-decoration: none;
}


hr
{
  width: 100%;
  height: 2px;
  background-color: #999999;
  a
}


#content
{
  margin: 0 auto;          /* centers the content div on the page */
  padding: 0px 50px 0px;  /* makes room for the header, leaves some space at the sides of the page */
  width: 800px;
}



/* spacing between entries of a list */
li
{
  margin-top: 10px;
}

#paperinfo
{
  margin-top: -5px;
  font-size: 14px;
  line-height: 125%;
  font-weight: 100;
}



/* makes table header cells left-aligned and non-bold */

#portrait
{
  float: right;
  padding-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#contactinfo
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  /*background: gray;*/
  background-color: transparent;
}

#contactinfo th
{
  text-align: left;
  font-weight: normal;

  font-size: 15px;
  font-weight: 200;
  color:#2554C7;
  padding: 0 5px 5px 0;
}

#contactinfo tr
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  /*background: gray;*/
  background-color: transparent;
}

#contactinfo td
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  /*background: gray;*/
  background-color: transparent;

  font-family: monospace;
  font-size: 15px;
  font-weight: 200;
  padding: 0 5px 5px 0;
  line-height: 120%;

}


#schedule
{
    margin: auto;
    margin-top: 15px;
    padding: 0;
   	border: 1px solid black;
   	outline: 0;
    vertical-align: baseline;
	/*background: gray;*/
	background-color: transparent;
	border-collapse: collapse;
}

#schedule th{
	border: 1px solid black;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
}

#schedule td{
   	border: 1px solid black;
	padding: 5px 10px 5px 10px;
}
